<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>854773143957-2v5basboobll6k0h7joql30qfp9n0tkk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.854773143957-2v5basboobll6k0h7joql30qfp9n0tkk</string>
	<key>API_KEY</key>
	<string>AIzaSyCnbLRhIc4NeLlZyONh5uztEbrrWCsehvE</string>
	<key>GCM_SENDER_ID</key>
	<string>854773143957</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loyaltyAdmin</string>
	<key>PROJECT_ID</key>
	<string>loyalty-app-a13a0</string>
	<key>STORAGE_BUCKET</key>
	<string>loyalty-app-a13a0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:854773143957:ios:238c8411c5a7c7ef033e9c</string>
</dict>
</plist>